[submodule "kernel"]
	path = JavaWorkspace/diffMapper/resources/testing/DiffMapper/runSingleInstance/kernel
	url = ./JavaWorkspace/diffMapper/resources/testing/DiffMapper/runSingleInstance/kernel/
	ignore = all
